@import '../style/var.scss';

.fx-side-tab {
  --fx-color: #{$font-color};
  --fx-active-color: #{$title-color};
  --fx-front-color: var(--fx-color);

  height: 100%;
  background-color: $background-color;

  &_list {
    margin: 0;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    height: auto;
    background-color: #fff;
    padding: 0;
  }

  &_item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
    color: var(--fx-front-color);
    min-height: 40px;
    cursor: pointer;
    background-color: $background-color;
    padding: 10px 12px;
    user-select: none;

    .fx-icon {
      --size: 17px;
      --color: var(--fx-front-color);
      margin-right: 4px;
    }

    &.active {
      background-color: #fff;
    }

    &.active-prev {
      border-radius: 0 0 4px 0;
    }

    &.active-next {
      border-radius: 0 4px 0 0;
    }

    &-inner {
      display: inline-flex;
      vertical-align: middle;
      position: relative;
      align-items: center;

      &::before {
        content: none;
        position: absolute;
        top: -1px;
        left: -4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        border-radius: 50%;
        background: linear-gradient(
          145deg,
          rgba(24, 144, 255, 0.3) 13.5%,
          rgba(24, 144, 255, 0.05) 86.5%
        );
      }
    }

    &-text {
      display: block;
      word-break: break-all;
      white-space: pre-wrap;
    }

    &.active {
      --fx-front-color: var(--fx-active-color);
      font-weight: 700;

      .fx-side-tab_item-inner::before {
        content: '';
      }
    }
  }
}
