/* .vitepress/theme/custom.css */
:root {
  --c-brand: #1890ff;
  --c-brand-light: #40a9ff;

  --c-text-light-1: #262626;
  --c-text-light-2: #595959;
  --c-text-light-3: #8c8c8c;
}

.demo iframe {
  width: 375px;
  height: 667px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

@media screen and (min-width: 1440px) {
  .demo {
    position: fixed;
    top: calc(32px + 3em);
    right: 1.5em;
  }

  .container {
    max-width: 100% !important;
  }

  .container .content {
    margin-right: calc(375px + 1.5em) !important;
  }
}
