$primary-color-2: #648fa8 !default;
$primary-color-5: #0f4c82 !default;
$primary-color-6: #06315c !default;
$primary-color-7: #011935 !default;
$primary-color: $primary-color-6;
$success-color-2: #a3b6a6 !default;
$success-color-5: #3c9052 !default;
$success-color-6: #276a3b !default;
$success-color-7: #154425 !default;
$success-color: $success-color-6;
$warning-color-2: #e1d9bf !default;
$warning-color-5: #bb9445 !default;
$warning-color-6: #95702f !default;
$warning-color-7: #6e4e1e !default;
$warning-color: $warning-color-6;
$danger-color-2: #d79996 !default;
$danger-color-5: #b1262d !default;
$danger-color-6: #8b1721 !default;
$danger-color-7: #650c16 !default;
$danger-color: $danger-color-6;

$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$gray-13: #000000;

$white-color: $gray-1 !default;
$background2-color: $gray-2 !default;
$background-color: $gray-3 !default;
$divider-color: $gray-4 !default;
$border-color: $gray-5 !default;
$font3-color: $gray-6 !default;
$font2-color: $gray-7 !default;
$font-color: $gray-8 !default;
$title-color: $gray-10 !default;
$black-color: $gray-13 !default;
